html, body {
    background: #000;
    color: #fff;
}

#container {
    display: flex;
    flex-direction: column;
}

#clock {
    align-self: center;
    padding-top: 8%
}

#date {
    font-family: 'Roboto', sans-serif;
    align-self: center;
    font-size: 300%
}